{% extends 'base.html.twig' %}

{% block title %}Fortune{% endblock %}

{% block stylesheets %}
    <link href="../../public/css/sticky-footer-navbar.css" rel="stylesheet">
{% endblock %}

{% block body %}
<header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">Say "Hi!" to your fortune</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {#<li class="nav-item active">#}
                    {#<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link" href="#">Link</a>#}
                {#</li>#}
                {#<li class="nav-item">#}
                    {#<a class="nav-link disabled" href="#">Disabled</a>#}
                {#</li>#}
            </ul>
            <a class="btn btn-outline-warning" href="{{ path('casino_logout') }}">Sign out</a>
        </div>
    </nav>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    {#<h1 class="mt-5">Sticky footer with fixed navbar</h1>#}
    {#<p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers with this custom HTML and CSS. A fixed navbar has been added with <code>padding-top: 60px;</code> on the <code>body &gt; .container</code>.</p>#}
    {#<p>Back to <a href="../sticky-footer">the default sticky footer</a> minus the navbar.</p>#}

    <button type="button" id="get_prize" class="btn btn-lg btn-block btn-success"> Get Lucky </button>
    <button type="button" id="reject_prize" class="btn btn-lg btn-block btn-danger"> Reject Pize </button>
</main>

<footer class="footer">
    <div class="container">
        <span class="text-muted">© 2018</span>
    </div>
</footer>

{% include 'game/get_prize_ajax_scripy.html.twig'%}

<script>
    $("#get_prize").click(function () {
        get_prize()
    });

    $("#reject_prize").click(function () {
        reject_prize()
    });
</script>


{% endblock body %}