
<script>
function get_prize(){
    $.ajax({
        type: "GET",
        url: "{{ path('casino.get_prize') }}",
        success: function(msg){
            console.info("success get_prize: " + msg);
        }
    });
}

function reject_prize(){
    $.ajax({
        type: "POST",
        data: '{"id":1}',
        contentType: "application/json",
        url: "{{ path('casino.rejet.prize') }}",
        success: function(msg){
            console.info("success reject_prize: " + msg);
        }
    });
}
</script>